<h1>Skema for <%= @timetable.itu_email %></h1>
<p><%= link_to "Opdater skema", update_timetable_path(@timetable) %>
<table cellspacing="2" border="1">
<tr id="header">
	<th class="time_cell">Tid</th>
	<th>Mandag</th>
	<th>Tirsdag</th>
	<th>Onsdag</th>
	<th>Torsdag</th>
	<th>Fredag</th>
</tr>
<tr>
	<td class="time_cell">08:00-10:00</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Mandag"]["08.00"][:name]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["08.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Mandag"]["08.00"][:type]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["08.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["08.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Mandag"]["08.00"][:room]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["08.00"] %>
		</div>
	</td>
		
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Tirsdag"]["08.00"][:name]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["08.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Tirsdag"]["08.00"][:type]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["08.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["08.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Tirsdag"]["08.00"][:room]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["08.00"] %>
		</div>	
	</td>
		
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Onsdag"]["08.00"][:name]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["08.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Onsdag"]["08.00"][:type]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["08.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["08.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Onsdag"]["08.00"][:room]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["08.00"] %>
		</div>
	</td>
		
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Torsdag"]["08.00"][:name]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["08.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Torsdag"]["08.00"][:type]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["08.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["08.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Torsdag"]["08.00"][:room]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["08.00"] %>
		</div>
	</td>
		
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Fredag"]["08.00"][:name]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["08.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Fredag"]["08.00"][:type]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["08.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["08.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Fredag"]["08.00"][:room]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["08.00"] %>
		</div>
	</td>
		
</tr>
<tr>
	<td class="time_cell">10:00-12:00</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Mandag"]["10.00"][:name]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["10.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Mandag"]["10.00"][:type]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["10.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["10.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Mandag"]["10.00"][:room]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["10.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Tirsdag"]["10.00"][:name]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["10.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Tirsdag"]["10.00"][:type]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["10.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["10.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Tirsdag"]["10.00"][:room]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["10.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Onsdag"]["10.00"][:name]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["10.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Onsdag"]["10.00"][:type]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["10.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["10.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Onsdag"]["10.00"][:room]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["10.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Torsdag"]["10.00"][:name]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["10.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Torsdag"]["10.00"][:type]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["10.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["10.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Torsdag"]["10.00"][:room]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["10.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Fredag"]["10.00"][:name]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["10.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Fredag"]["10.00"][:type]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["10.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["10.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Fredag"]["10.00"][:room]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["10.00"] %>
		</div>
	</td>
</tr>
<tr>
	<td class="time_cell">12:00-14:00</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Mandag"]["12.00"][:name]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["12.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Mandag"]["12.00"][:type]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["12.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["12.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Mandag"]["12.00"][:room]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["12.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Tirsdag"]["12.00"][:name]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["12.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Tirsdag"]["12.00"][:type]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["12.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["12.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Tirsdag"]["12.00"][:room]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["12.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Onsdag"]["12.00"][:name]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["12.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Onsdag"]["12.00"][:type]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["12.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["12.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Onsdag"]["12.00"][:room]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["12.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Torsdag"]["12.00"][:name]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["12.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Torsdag"]["12.00"][:type]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["12.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["12.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Torsdag"]["12.00"][:room]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["12.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Fredag"]["12.00"][:name]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["12.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Fredag"]["12.00"][:type]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["12.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["12.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Fredag"]["12.00"][:room]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["12.00"] %>
		</div>
	</td>
</tr>
<tr>
	<td class="time_cell">14:00-16:00</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Mandag"]["14.00"][:name]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["14.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Mandag"]["14.00"][:type]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["14.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["14.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Mandag"]["14.00"][:room]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["14.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Tirsdag"]["14.00"][:name]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["14.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Tirsdag"]["14.00"][:type]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["14.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["14.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Tirsdag"]["14.00"][:room]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["14.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Onsdag"]["14.00"][:name]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["14.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Onsdag"]["14.00"][:type]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["14.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["14.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Onsdag"]["14.00"][:room]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["14.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Torsdag"]["14.00"][:name]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["14.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Torsdag"]["14.00"][:type]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["14.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["14.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Torsdag"]["14.00"][:room]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["14.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Fredag"]["14.00"][:name]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["14.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Fredag"]["14.00"][:type]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["14.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["14.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Fredag"]["14.00"][:room]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["14.00"] %>
		</div>
	</td>
</tr>
<tr>
	<td class="time_cell">16:00-18:00</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Mandag"]["16.00"][:name]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["16.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Mandag"]["16.00"][:type]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["16.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["16.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Mandag"]["16.00"][:room]}".html_safe if @all_courses["Mandag"] && @all_courses["Mandag"]["16.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Tirsdag"]["16.00"][:name]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["16.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Tirsdag"]["16.00"][:type]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["16.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["16.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Tirsdag"]["16.00"][:room]}".html_safe if @all_courses["Tirsdag"] && @all_courses["Tirsdag"]["16.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Onsdag"]["16.00"][:name]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["16.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Onsdag"]["16.00"][:type]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["16.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["16.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Onsdag"]["16.00"][:room]}".html_safe if @all_courses["Onsdag"] && @all_courses["Onsdag"]["16.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Torsdag"]["16.00"][:name]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["16.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Torsdag"]["16.00"][:type]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["16.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["16.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Torsdag"]["16.00"][:room]}".html_safe if @all_courses["Torsdag"] && @all_courses["Torsdag"]["16.00"] %>
		</div>
	</td>
	<td>
		<div class="course_title">
			<%= "#{@all_courses["Fredag"]["16.00"][:name]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["16.00"] %>
		</div>
		<div class="course_type">
			<%= "#{@all_courses["Fredag"]["16.00"][:type]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["16.00"] %>
		</div>
		<div class="label">
			<%= "i".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["16.00"] %>
		</div>
		<div class="course_room">
			<%= "#{@all_courses["Fredag"]["16.00"][:room]}".html_safe if @all_courses["Fredag"] && @all_courses["Fredag"]["16.00"] %>
		</div>
	</td>
</tr>